{%extends 'base.html'%}

{%block body%}

<div class="container text-center">
    <h1>TODO LIST</h1>
    <table class="table table-striped">
        <tr>
            <th scope="col">Todo</th>
            <th scope="col">Added</th>
            <th scope="col">Actions</th>
        </tr>
        {%for task in tasks%}
        <tr>
            <td>{{task.content}}</td>
            <td>
                {{task.date_created.date()}}
            </td>
            <td>
                <a href="/delete/{{task.id}}">삭제하기</a>
                <a href="/update/{{task.id}}">업데이트 </a>
            </td>
        </tr>
        {%endfor%}
    </table>
    <form action="" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="추가하기">
    </form>
</div>
{%endblock%}